.main-button {
    background-color: $color-blue;
    color: $color-white;
    font-size: $small;
    width: fit-content;
    padding: 11px 30px;
    border-radius: 20px;
    border: none;
  }
  
  .main-button-grey{
      background-color: $color-grey;
  }