//barvy
$color-bacground : #FAFAFA;
$color-black : #000000;
$color-grey : #8B8B8B;
$color-blue : #407BFF;
$color-white : #FFFFFF;
$color-blue-light : #407BFF1F;

//styly
$font-family: 'Montserrat', sans-serif;

//velikost pisma
$medium: 16px;
$large: 28px;
$small: 14px;
$x-small: 13px; 

//breakpointy
$tablet: 40rem;
$pc: 68.75rem;

// NAVRH:
//https://xd.adobe.com/view/6fa92a1c-946c-4745-9c2e-2820ef34d36d-3afa/specs/