$color-bacground : #FAFAFA;
$color-black : #000000;
$color-grey : #8B8B8B;
$color-blue : #407BFF;
$color-white : #FFFFFF;
$color-blue-light : #407BFF1F;

$font-family: 'Montserrat', sans-serif;

$medium: 16px;
$large: 28px;
$small: 14px;
$x-small: 13px; 